<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  .center {
  margin: auto;
  padding: 10px;
}


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Kitchen Games Logo"
    src="./assets/kg_logo.jpg"
  />
  <span>Kitchen Games</span>
  <div style="padding-left: 2%;">
  </div>

      <a style = "margin-left: 2%; color: #c2c3c4;" href = "#our-games">OUR GAMES</a>
      <a style = "margin-left: 2%; color: #c2c3c4" href="#about-us">ABOUT US</a>

    <div class="spacer">
    </div>
  <app-social-media></app-social-media>
</div>
<div class="content" role="main">
  <div id="our-games" class="container-for-slider">
    <h1>OUR GAMES</h1>
    <hr>
    <h2>Train Games</h2>
    <p style="margin-bottom: 2%;">
      Join our protagonist, Simon - a passenger without a ticket, on an exciting train adventure to get to the capital city. You will have to be smart in order to get a place to sleep during this long trip.
      <li>Talk to passengers, but wisely! Choices made in the dialogue system influence the plot and the ending especially. Beware - some words thrown may throw you off the train.</li>
      <li>Can't open a door? Look at your inventory, and try to drag and drop things from it on a scene.</li>
      <li>Explore level - point over things in the car, maybe some of them can be picked up, and some other objects are of different use.</li>
      <li>Have you already finished the game once? Try a different way - there are 3 endings and different ways to finish levels.</li>
      <div style="margin-top: .5%;"></div>
      Would you get to the capital and how? The choice is yours.
      <p style="float: right; padding-bottom: 2%;">
      <a class="button-3" target="_blank" style="color: #e6ebf1;" href= "https://store.steampowered.com/app/2394930/Train_Games/">
        <b>STEAM</b>
      </a>
    </p>
    <p>
      <a class="button-1" target="_blank" style="color: hsl(110, 86%, 33%); margin-top: 1%; margin-right: 1%;" href= "https://drive.google.com/file/d/1-SSI3eBNihJJrfXq4T7tW-JGBwkenrZT/view?usp=drive_link">
        <b>Press Kit</b>
      </a>
      <a class="button-1" target="_blank" style="color: hsl(110, 86%, 33%); margin-top: 1%;" href= "https://drive.google.com/file/d/1Jj_hAcsMIdt7xGtOmsqF84KpfB1RaNu6/view?usp=drive_link">
        <b>Press Kit Ru</b>
      </a>
    </p>
    <br>
    <app-carousel [slides]="slides"></app-carousel>
    <!--iframe src="https://store.steampowered.com/widget/2394930/" frameborder="0" width="1100" height="190"></iframe-->
  </div>
  <div id="about-us" class="container" style="margin-top: 30%;">
    <h1>ABOUT US</h1>
    <hr>
    <p>
      We are just 3 friends who started developing a game from scratch without any previouse expirience in game design,
      some understanding of programming and little to none skills in art.
      <p style="margin-top: .5%;">
      The first game is made with:
      <li>Unity</li>
      <li>Figma</li>
      <li>Enourmouse ammount of time</li>
      <li>Strong wish to share the cozy adventure with the rest of the world</li>
    </p>
    <hr style="margin-bottom: 2%;">
    <p style="margin-bottom: 2%;">Follow us on social media:</p>
    <div class="center">
      <app-social-media></app-social-media>
    </div>
    <a class="button-3" href="mailto:sdziuba@kitchen-games.ru" style="float: right;"><b>CONTACT US</b></a>
  </div>
</div>
<app-footer></app-footer>